@model BlogViewModel

@{
    ViewData["Title"] = "Create blog";
}

@using (Html.BeginForm("CreateBlog", "Blogs", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.BlogName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BlogName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.BlogName, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.Text, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Text, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Text, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать блог" class="btn btn-default"/>
        </div>
    </div>    
}