@model List<Blog>


@{
    ViewData["Title"] = "Blogs";
}

<div>
    @if (User.Identity.Name != null)
    {
        <a href="/Blogs/CreateBlog">Добавить блог</a>
    }
    
    <hr/>
    @foreach (var blog in Model)
    {
        <text>@blog.BlogName</text>
        if (User.Identity.Name == blog.User.UserName)
        {
            <a href="/Blogs/UpdateBlog?blogId=@blog.Id">Изменить блог</a>
            <a href="/Blogs/DeleteBlog?blogId=@blog.Id">Удалить блог</a>
        }
        <br/>
        <text>@blog.DateTime</text>
        <br/>
        <textarea>@blog.Text</textarea>
        <hr/>
        <text>Комментарии:</text>
        <br/>
        @if (User.Identity.Name != null)
        {
            <a href="/Commentaries/CreateCommentary?blogId=@blog.Id">Добавить комментарий</a>
        }
        
        <br/>
        @foreach (var comm in blog.Commentaries)
        {
            <text>@comm.User.UserName</text>
            if (User.Identity.Name == comm.User.UserName)
            {
                <a href="/Commentaries/UpdateCommentary?commentaryId=@comm.Id">Изменить комментарий</a>
                <a href="/Commentaries/DeleteCommentary?commentaryId=@comm.Id">Удалить комментарий</a>    
            }
            <br/>
            <text>@comm.DateTime</text>
            <br/>
            <text>@comm.Text</text>
        }
        <hr/>
    }
</div>